In [3]:
#!mkdir -p ~/aiffel/recommendata_iu/data/ml-1m
#!ln -s ~/data/ml-1m/* ~/aiffel/recommendata_iu/data/ml-1m
!ls

aiffel	data

In [54]:
import pandas as pd
import os
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares
import numpy as np
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [4]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [5]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count1'}, inplace=True)

In [6]:
ratings['count1']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count1, Length: 836478, dtype: int64

In [7]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [8]:
ratings

         user_id  movie_id  count1  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000203     6040      1090       3  956715518
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[836478 rows x 4 columns]

In [9]:
a = len(ratings['movie_id'].unique()) # ratings에 있는 유니크한 영화 개수
b = len(ratings['user_id'].unique()) # rating에 있는 유니크한 사용자 수 
c = ratings.groupby('movie_id')['count1'].count()
print(f'ratings에 있는 유니크한 영화 개수 : {a} \nratings에 있는 유니크한 사용자 수 : {b}')
print('인기 많은 영화 수 정렬 :\n',c.sort_values(ascending=False).head(30))

ratings에 있는 유니크한 영화 개수 : 3628
ratings에 있는 유니크한 사용자 수 : 6039
인기 많은 영화 수 정렬 :
 movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
589     2509
593     2498
1198    2473
1270    2460
2571    2434
480     2413
2762    2385
608     2371
110     2314
1580    2297
527     2257
1197    2252
2396    2213
1617    2210
318     2194
858     2167
1265    2121
1097    2102
2997    2066
2716    2051
296     2030
356     2022
1240    2019
1       2000
457     1941
Name: count1, dtype: int64

In [11]:
ratings

         user_id  movie_id  count1  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000203     6040      1090       3  956715518
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[836478 rows x 4 columns]

In [45]:
my_favorite = [1, 2, 3 , 4, 5]

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': [6042]*5, 'movie_id': my_favorite, 'count1':[5]*5,'timestamp':[978300275]*5})

if not ratings.isin({'user_id':['6042']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings = ratings.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다.

In [43]:
ratings = ratings[:-7]

In [46]:
ratings

   user_id movie_id  count1  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
..     ...      ...     ...        ...
0     6042        1       5  978300275
1     6042        2       5  978300275
2     6042        3       5  978300275
3     6042        4       5  978300275
4     6042        5       5  978300275

[836483 rows x 4 columns]

In [26]:
movies

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [57]:
movie_data = {v:k for k,v in enumerate(movies['title'].unique())}
user_id_data = {v:k for k,v in enumerate(ratings['user_id'].unique())}

In [47]:
num_user = max(ratings['user_id'])+1
num_movie = max(ratings['movie_id'])+1

csr_data = csr_matrix((ratings.count1, (ratings.user_id, ratings.movie_id)), shape= (num_user, num_movie))
csr_data

<6043x3953 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [55]:
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

csr_data_transpose = csr_data.T

als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [65]:
#movie_data
user_id_data[1000]

999

In [93]:
myid, movie_name = user_id_data[6040], movie_data['Jumanji (1995)']
myid_vector, toy_story_vector = als_model.user_factors[myid], als_model.item_factors[movie_name]

In [90]:
ratings['user_id'].unique

<bound method Series.unique of 0             1
1             1
2             1
3             1
4             1
           ...
1000204    6040
1000205    6040
1000206    6040
1000207    6040
1000208    6040
Name: user_id, Length: 1000209, dtype: int64>

In [91]:
np.dot(myid_vector,toy_story_vector)

0.12922956

In [94]:
movie_data

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Waiting to Exhale (1995)': 3,
 'Father of the Bride Part II (1995)': 4,
 'Heat (1995)': 5,
 'Sabrina (1995)': 6,
 'Tom and Huck (1995)': 7,
 'Sudden Death (1995)': 8,
 'GoldenEye (1995)': 9,
 'American President, The (1995)': 10,
 'Dracula: Dead and Loving It (1995)': 11,
 'Balto (1995)': 12,
 'Nixon (1995)': 13,
 'Cutthroat Island (1995)': 14,
 'Casino (1995)': 15,
 'Sense and Sensibility (1995)': 16,
 'Four Rooms (1995)': 17,
 'Ace Ventura: When Nature Calls (1995)': 18,
 'Money Train (1995)': 19,
 'Get Shorty (1995)': 20,
 'Copycat (1995)': 21,
 'Assassins (1995)': 22,
 'Powder (1995)': 23,
 'Leaving Las Vegas (1995)': 24,
 'Othello (1995)': 25,
 'Now and Then (1995)': 26,
 'Persuasion (1995)': 27,
 'City of Lost Children, The (1995)': 28,
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)': 29,
 'Dangerous Minds (1995)': 30,
 'Twelve Monkeys (1995)': 31,
 'Wings of Courage (1995)': 32,
 'Babe (1995)': 33,
 'Carrington (1995)': 34,
 'Dead Man Walking (1995)': 35,
 'Across the Sea of Time (1995)': 36,
 'It Takes Two (1995)': 37,
 'Clueless (1995)': 38,
 'Cry, the Beloved Country (1995)': 39,
 'Richard III (1995)': 40,
 'Dead Presidents (1995)': 41,
 'Restoration (1995)': 42,
 'Mortal Kombat (1995)': 43,
 'To Die For (1995)': 44,
 'How to Make an American Quilt (1995)': 45,
 'Seven (Se7en) (1995)': 46,
 'Pocahontas (1995)': 47,
 'When Night Is Falling (1995)': 48,
 'Usual Suspects, The (1995)': 49,
 'Guardian Angel (1994)': 50,
 'Mighty Aphrodite (1995)': 51,
 'Lamerica (1994)': 52,
 'Big Green, The (1995)': 53,
 'Georgia (1995)': 54,
 'Kids of the Round Table (1995)': 55,
 'Home for the Holidays (1995)': 56,
 'Postino, Il (The Postman) (1994)': 57,
 'Confessional, The (Le Confessionnal) (1995)': 58,
 'Indian in the Cupboard, The (1995)': 59,
 'Eye for an Eye (1996)': 60,
 "Mr. Holland's Opus (1995)": 61,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 62,
 'Two if by Sea (1996)': 63,
 'Bio-Dome (1996)': 64,
 'Lawnmower Man 2: Beyond Cyberspace (1996)': 65,
 'Two Bits (1995)': 66,
 'French Twist (Gazon maudit) (1995)': 67,
 'Friday (1995)': 68,
 'From Dusk Till Dawn (1996)': 69,
 'Fair Game (1995)': 70,
 'Kicking and Screaming (1995)': 71,
 'Misérables, Les (1995)': 72,
 'Bed of Roses (1996)': 73,
 'Big Bully (1996)': 74,
 'Screamers (1995)': 75,
 'Nico Icon (1995)': 76,
 'Crossing Guard, The (1995)': 77,
 'Juror, The (1996)': 78,
 'White Balloon, The (Badkonake Sefid ) (1995)': 79,
 "Things to Do in Denver when You're Dead (1995)": 80,
 "Antonia's Line (Antonia) (1995)": 81,
 'Once Upon a Time... When We Were Colored (1995)': 82,
 'Last Summer in the Hamptons (1995)': 83,
 'Angels and Insects (1995)': 84,
 'White Squall (1996)': 85,
 'Dunston Checks In (1996)': 86,
 'Black Sheep (1996)': 87,
 'Nick of Time (1995)': 88,
 'Journey of August King, The (1995)': 89,
 'Mary Reilly (1996)': 90,
 'Vampire in Brooklyn (1995)': 91,
 'Beautiful Girls (1996)': 92,
 'Broken Arrow (1996)': 93,
 'In the Bleak Midwinter (1995)': 94,
 'Hate (Haine, La) (1995)': 95,
 'Shopping (1994)': 96,
 'Heidi Fleiss: Hollywood Madam (1995)': 97,
 'City Hall (1996)': 98,
 'Bottle Rocket (1996)': 99,
 'Mr. Wrong (1996)': 100,
 'Unforgettable (1996)': 101,
 'Happy Gilmore (1996)': 102,
 'Bridges of Madison County, The (1995)': 103,
 'Nobody Loves Me (Keiner liebt mich) (1994)': 104,
 'Muppet Treasure Island (1996)': 105,
 'Catwalk (1995)': 106,
 'Headless Body in Topless Bar (1995)': 107,
 'Braveheart (1995)': 108,
 'Taxi Driver (1976)': 109,
 'Rumble in the Bronx (1995)': 110,
 'Before and After (1996)': 111,
 "Margaret's Museum (1995)": 112,
 'Happiness Is in the Field (1995)': 113,
 'Anne Frank Remembered (1995)': 114,
 "Young Poisoner's Handbook, The (1995)": 115,
 'If Lucy Fell (1996)': 116,
 'Steal Big, Steal Little (1995)': 117,
 'Race the Sun (1996)': 118,
 'Boys of St. Vincent, The (1993)': 119,
 'Boomerang (1992)': 120,
 'Chungking Express (1994)': 121,
 "Star Maker, The (Uomo delle stelle, L') (1995)": 122,
 'Flirting With Disaster (1996)': 123,
 'NeverEnding Story III, The (1994)': 124,
 'Silence of the Palace, The (Saimt el Qusur) (1994)': 125,
 "Jupiter's Wife (1994)": 126,
 'Pie in the Sky (1995)': 127,
 'Angela (1995)': 128,
 'Frankie Starlight (1995)': 129,
 'Jade (1995)': 130,
 'Nueba Yol (1995)': 131,
 'Sonic Outlaws (1995)': 132,
 'Down Periscope (1996)': 133,
 'From the Journals of Jean Seberg (1995)': 134,
 'Man of the Year (1995)': 135,
 'Neon Bible, The (1995)': 136,
 'Target (1995)': 137,
 'Up Close and Personal (1996)': 138,
 'Birdcage, The (1996)': 139,
 'Shadows (Cienie) (1988)': 140,
 'Gospa (1995)': 141,
 'Brothers McMullen, The (1995)': 142,
 'Bad Boys (1995)': 143,
 'Amazing Panda Adventure, The (1995)': 144,
 'Basketball Diaries, The (1995)': 145,
 'Awfully Big Adventure, An (1995)': 146,
 'Amateur (1994)': 147,
 'Apollo 13 (1995)': 148,
 'Rob Roy (1995)': 149,
 'Addiction, The (1995)': 150,
 'Batman Forever (1995)': 151,
 'Belle de jour (1967)': 152,
 'Beyond Rangoon (1995)': 153,
 'Blue in the Face (1995)': 154,
 'Canadian Bacon (1994)': 155,
 'Casper (1995)': 156,
 'Clockers (1995)': 157,
 'Congo (1995)': 158,
 'Crimson Tide (1995)': 159,
 'Crumb (1994)': 160,
 'Desperado (1995)': 161,
 'Devil in a Blue Dress (1995)': 162,
 'Die Hard: With a Vengeance (1995)': 163,
 'Doom Generation, The (1995)': 164,
 'Feast of July (1995)': 165,
 'First Knight (1995)': 166,
 'Free Willy 2: The Adventure Home (1995)': 167,
 'Hackers (1995)': 168,
 'Jeffrey (1995)': 169,
 'Johnny Mnemonic (1995)': 170,
 'Judge Dredd (1995)': 171,
 'Jury Duty (1995)': 172,
 'Kids (1995)': 173,
 'Living in Oblivion (1995)': 174,
 'Lord of Illusions (1995)': 175,
 'Love & Human Remains (1993)': 176,
 'Mad Love (1995)': 177,
 'Mallrats (1995)': 178,
 'Mighty Morphin Power Rangers: The Movie (1995)': 179,
 'Moonlight and Valentino (1995)': 180,
 'Mute Witness (1994)': 181,
 'Nadja (1994)': 182,
 'Net, The (1995)': 183,
 'Nine Months (1995)': 184,
 'Party Girl (1995)': 185,
 'Prophecy, The (1995)': 186,
 'Reckless (1995)': 187,
 'Safe (1995)': 188,
 'Scarlet Letter, The (1995)': 189,
 'Show, The (1995)': 190,
 'Showgirls (1995)': 191,
 'Smoke (1995)': 192,
 'Something to Talk About (1995)': 193,
 'Species (1995)': 194,
 'Stars Fell on Henrietta, The (1995)': 195,
 'Strange Days (1995)': 196,
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)': 197,
 'Tie That Binds, The (1995)': 198,
 'Three Wishes (1995)': 199,
 'Total Eclipse (1995)': 200,
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)': 201,
 'Under Siege 2: Dark Territory (1995)': 202,
 'Unstrung Heroes (1995)': 203,
 'Unzipped (1995)': 204,
 'Walk in the Clouds, A (1995)': 205,
 'Waterworld (1995)': 206,
 "White Man's Burden (1995)": 207,
 'Wild Bill (1995)': 208,
 'Browning Version, The (1994)': 209,
 'Bushwhacked (1995)': 210,
 'Burnt By the Sun (Utomlyonnye solntsem) (1994)': 211,
 'Before the Rain (Pred dozhdot) (1994)': 212,
 'Before Sunrise (1995)': 213,
 'Billy Madison (1995)': 214,
 'Babysitter, The (1995)': 215,
 'Boys on the Side (1995)': 216,
 'Cure, The (1995)': 217,
 'Castle Freak (1995)': 218,
 'Circle of Friends (1995)': 219,
 'Clerks (1994)': 220,
 'Don Juan DeMarco (1995)': 221,
 'Disclosure (1994)': 222,
 'Dream Man (1995)': 223,
 'Drop Zone (1994)': 224,
 'Destiny Turns on the Radio (1995)': 225,
 'Death and the Maiden (1994)': 226,
 'Dolores Claiborne (1994)': 227,
 'Dumb & Dumber (1994)': 228,
 'Eat Drink Man Woman (1994)': 229,
 'Exotica (1994)': 230,
 'Exit to Eden (1994)': 231,
 'Ed Wood (1994)': 232,
 'French Kiss (1995)': 233,
 'Forget Paris (1995)': 234,
 'Far From Home: The Adventures of Yellow Dog (1995)': 235,
 'Goofy Movie, A (1995)': 236,
 'Hideaway (1995)': 237,
 'Fluke (1995)': 238,
 'Farinelli: il castrato (1994)': 239,
 'Gordy (1995)': 240,
 'Gumby: The Movie (1995)': 241,
 'Glass Shield, The (1994)': 242,
 'Hoop Dreams (1994)': 243,
 'Heavenly Creatures (1994)': 244,
 'Houseguest (1994)': 245,
 'Immortal Beloved (1994)': 246,
 'Heavyweights (1994)': 247,
 'Hunted, The (1995)': 248,
 'I.Q. (1994)': 249,
 'Interview with the Vampire (1994)': 250,
 'Jefferson in Paris (1995)': 251,
 'Jerky Boys, The (1994)': 252,
 'Junior (1994)': 253,
 'Just Cause (1995)': 254,
 "Kid in King Arthur's Court, A (1995)": 255,
 'Kiss of Death (1995)': 256,
 'Star Wars: Episode IV - A New Hope (1977)': 257,
 'Little Women (1994)': 258,
 'Little Princess, A (1995)': 259,
 'Ladybird Ladybird (1994)': 260,
 "Enfer, L' (1994)": 261,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 262,
 'Legends of the Fall (1994)': 263,
 'Major Payne (1994)': 264,
 'Little Odessa (1994)': 265,
 'My Crazy Life (Mi vida loca) (1993)': 266,
 'Love Affair (1994)': 267,
 'Losing Isaiah (1995)': 268,
 'Madness of King George, The (1994)': 269,
 "Mary Shelley's Frankenstein (1994)": 270,
 'Man of the House (1995)': 271,
 'Mixed Nuts (1994)': 272,
 'Milk Money (1994)': 273,
 'Miracle on 34th Street (1994)': 274,
 'Miami Rhapsody (1995)': 275,
 'My Family (1995)': 276,
 'Murder in the First (1995)': 277,
 "Nobody's Fool (1994)": 278,
 'Nell (1994)': 279,
 'New Jersey Drive (1995)': 280,
 'New York Cop (1996)': 281,
 'Beyond Bedlam (1993)': 282,
 'Nemesis 2: Nebula (1995)': 283,
 'Nina Takes a Lover (1994)': 284,
 'Natural Born Killers (1994)': 285,
 'Only You (1994)': 286,
 'Once Were Warriors (1994)': 287,
 'Poison Ivy II (1995)': 288,
 'Outbreak (1995)': 289,
 'Professional, The (a.k.a. Leon: The Professional) (1994)': 290,
 'Perez Family, The (1995)': 291,
 "Pyromaniac's Love Story, A (1995)": 292,
 'Pulp Fiction (1994)': 293,
 'Panther (1995)': 294,
 'Pushing Hands (1992)': 295,
 'Priest (1994)': 296,
 'Quiz Show (1994)': 297,
 'Picture Bride (1995)': 298,
 'Queen Margot (La Reine Margot) (1994)': 299,
 'Quick and the Dead, The (1995)': 300,
 'Roommates (1995)': 301,
 'Ready to Wear (Pret-A-Porter) (1994)': 302,
 'Three Colors: Red (1994)': 303,
 'Three Colors: Blue (1993)': 304,
 'Three Colors: White (1994)': 305,
 'Red Firecracker, Green Firecracker (1994)': 306,
 'Rent-a-Kid (1995)': 307,
 'Relative Fear (1994)': 308,
 'Stuart Saves His Family (1995)': 309,
 'Swan Princess, The (1994)': 310,
 'Secret of Roan Inish, The (1994)': 311,
 'Specialist, The (1994)': 312,
 'Stargate (1994)': 313,
 'Santa Clause, The (1994)': 314,
 'Shawshank Redemption, The (1994)': 315,
 'Shallow Grave (1994)': 316,
 'Suture (1993)': 317,
 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 318,
 'Swimming with Sharks (1995)': 319,
 'Sum of Us, The (1994)': 320,
 "National Lampoon's Senior Trip (1995)": 321,
 'To Live (Huozhe) (1994)': 322,
 'Tank Girl (1995)': 323,
 'Tales From the Crypt Presents: Demon Knight (1995)': 324,
 'Star Trek: Generations (1994)': 325,
 'Tales from the Hood (1995)': 326,
 'Tom & Viv (1994)': 327,
 'Village of the Damned (1995)': 328,
 'Tommy Boy (1995)': 329,
 'Vanya on 42nd Street (1994)': 330,
 'Underneath, The (1995)': 331,
 'Walking Dead, The (1995)': 332,
 "What's Eating Gilbert Grape (1993)": 333,
 'Virtuosity (1995)': 334,
 'While You Were Sleeping (1995)': 335,
 'War, The (1994)': 336,
 'Double Happiness (1994)': 337,
 "Muriel's Wedding (1994)": 338,
 'Baby-Sitters Club, The (1995)': 339,
 'Ace Ventura: Pet Detective (1994)': 340,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 341,
 'Backbeat (1993)': 342,
 'Bitter Moon (1992)': 343,
 'Bullets Over Broadway (1994)': 344,
 'Clear and Present Danger (1994)': 345,
 'Client, The (1994)': 346,
 'Corrina, Corrina (1994)': 347,
 'Crooklyn (1994)': 348,
 'Crow, The (1994)': 349,
 'Cobb (1994)': 350,
 'Flintstones, The (1994)': 351,
 'Forrest Gump (1994)': 352,
 'Four Weddings and a Funeral (1994)': 353,
 'Higher Learning (1995)': 354,
 'I Like It Like That (1994)': 355,
 'I Love Trouble (1994)': 356,
 'It Could Happen to You (1994)': 357,
 'Jungle Book, The (1994)': 358,
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)': 359,
 'Lion King, The (1994)': 360,
 'Little Buddha (1993)': 361,
 "Wes Craven's New Nightmare (1994)": 362,
 'Mask, The (1994)': 363,
 'Maverick (1994)': 364,
 'Mrs. Parker and the Vicious Circle (1994)': 365,
 'Naked Gun 33 1/3: The Final Insult (1994)': 366,
 'Paper, The (1994)': 367,
 'Reality Bites (1994)': 368,
 'Red Rock West (1992)': 369,
 'Richie Rich (1994)': 370,
 'Safe Passage (1994)': 371,
 'River Wild, The (1994)': 372,
 'Speed (1994)': 373,
 'Speechless (1994)': 374,
 'Timecop (1994)': 375,
 'True Lies (1994)': 376,
 'When a Man Loves a Woman (1994)': 377,
 'Wolf (1994)': 378,
 'Wyatt Earp (1994)': 379,
 'Bad Company (1995)': 380,
 'Man of No Importance, A (1994)': 381,
 'S.F.W. (1994)': 382,
 'Low Down Dirty Shame, A (1994)': 383,
 'Boys Life (1995)': 384,
 'Colonel Chabert, Le (1994)': 385,
 'Faster Pussycat! Kill! Kill! (1965)': 386,
 "Jason's Lyric (1994)": 387,
 'Secret Adventures of Tom Thumb, The (1993)': 388,
 'Street Fighter (1994)': 389,
 'Coldblooded (1995)': 390,
 'Desert Winds (1995)': 391,
 'Fall Time (1995)': 392,
 'Fear, The (1995)': 393,
 'Frank and Ollie (1995)': 394,
 'Girl in the Cadillac (1995)': 395,
 'Homage (1995)': 396,
 'Mirage (1995)': 397,
 'Open Season (1996)': 398,
 'Two Crimes (1995)': 399,
 'Brother Minister: The Assassination of Malcolm X (1994)': 400,
 'Highlander III: The Sorcerer (1994)': 401,
 'Federal Hill (1994)': 402,
 'In the Mouth of Madness (1995)': 403,
 '8 Seconds (1994)': 404,
 'Above the Rim (1994)': 405,
 'Addams Family Values (1993)': 406,
 'You So Crazy (1994)': 407,
 'Age of Innocence, The (1993)': 408,
 'Airheads (1994)': 409,
 'Air Up There, The (1994)': 410,
 'Another Stakeout (1993)': 411,
 'Bad Girls (1994)': 412,
 'Barcelona (1994)': 413,
 'Being Human (1993)': 414,
 'Beverly Hillbillies, The (1993)': 415,
 'Beverly Hills Cop III (1994)': 416,
 'Black Beauty (1994)': 417,
 'Blink (1994)': 418,
 'Blown Away (1994)': 419,
 'Blue Chips (1994)': 420,
 'Blue Sky (1994)': 421,
 'Body Snatchers (1993)': 422,
 'Boxing Helena (1993)': 423,
 'Bronx Tale, A (1993)': 424,
 'Cabin Boy (1994)': 425,
 'Calendar Girl (1993)': 426,
 "Carlito's Way (1993)": 427,
 "City Slickers II: The Legend of Curly's Gold (1994)": 428,
 'Clean Slate (1994)': 429,
 'Cliffhanger (1993)': 430,
 'Coneheads (1993)': 431,
 'Color of Night (1994)': 432,
 'Cops and Robbersons (1994)': 433,
 'Cowboy Way, The (1994)': 434,
 'Dangerous Game (1993)': 435,
 'Dave (1993)': 436,
 'Dazed and Confused (1993)': 437,
 'Demolition Man (1993)': 438,
 'Endless Summer 2, The (1994)': 439,
 'Even Cowgirls Get the Blues (1993)': 440,
 'Fatal Instinct (1993)': 441,
 'Farewell My Concubine (1993)': 442,
 'Favor, The (1994)': 443,
 'Fearless (1993)': 444,
 'Fear of a Black Hat (1993)': 445,
 'With Honors (1994)': 446,
 'Flesh and Bone (1993)': 447,
 "Widows' Peak (1994)": 448,
 'For Love or Money (1993)': 449,
 'Firm, The (1993)': 450,
 'Free Willy (1993)': 451,
 'Fresh (1994)': 452,
 'Fugitive, The (1993)': 453,
 'Geronimo: An American Legend (1993)': 454,
 'Getaway, The (1994)': 455,
 'Getting Even with Dad (1994)': 456,
 'Go Fish (1994)': 457,
 'Good Man in Africa, A (1994)': 458,
 'Guilty as Sin (1993)': 459,
 'Hard Target (1993)': 460,
 'Heaven & Earth (1993)': 461,
 'Hot Shots! Part Deux (1993)': 462,
 'Live Nude Girls (1995)': 463,
 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)': 464,
 'House of the Spirits, The (1993)': 465,
 'House Party 3 (1994)': 466,
 'Hudsucker Proxy, The (1994)': 467,
 "I'll Do Anything (1994)": 468,
 'In the Army Now (1994)': 469,
 'In the Line of Fire (1993)': 470,
 'In the Name of the Father (1993)': 471,
 'Inkwell, The (1994)': 472,
 "What's Love Got to Do with It? (1993)": 473,
 'Jimmy Hollywood (1994)': 474,
 'Judgment Night (1993)': 475,
 'Jurassic Park (1993)': 476,
 'Kalifornia (1993)': 477,
 'Killing Zoe (1994)': 478,
 'King of the Hill (1993)': 479,
 'Lassie (1994)': 480,
 'Last Action Hero (1993)': 481,
 'Life with Mikey (1993)': 482,
 'Lightning Jack (1994)': 483,
 'M. Butterfly (1993)': 484,
 'Made in America (1993)': 485,
 'Malice (1993)': 486,
 'Man Without a Face, The (1993)': 487,
 'Manhattan Murder Mystery (1993)': 488,
 'Menace II Society (1993)': 489,
 'Executive Decision (1996)': 490,
 'In the Realm of the Senses (Ai no corrida) (1976)': 491,
 'What Happened Was... (1994)': 492,
 'Much Ado About Nothing (1993)': 493,
 'Mr. Jones (1993)': 494,
 'Mr. Wonderful (1993)': 495,
 'Mrs. Doubtfire (1993)': 496,
 'Naked (1993)': 497,
 'Next Karate Kid, The (1994)': 498,
 'New Age, The (1994)': 499,
 'No Escape (1994)': 500,
 'North (1994)': 501,
 'Orlando (1993)': 502,
 'Perfect World, A (1993)': 503,
 'Philadelphia (1993)': 504,
 'Piano, The (1993)': 505,
 'Poetic Justice (1993)': 506,
 'Program, The (1993)': 507,
 "Robert A. Heinlein's The Puppet Masters (1994)": 508,
 'Radioland Murders (1994)': 509,
 'Ref, The (1994)': 510,
 'Remains of the Day, The (1993)': 511,
 'Renaissance Man (1994)': 512,
 'Rising Sun (1993)': 513,
 'Road to Wellville, The (1994)': 514,
 'Robocop 3 (1993)': 515,
 'Robin Hood: Men in Tights (1993)': 516,
 'Romeo Is Bleeding (1993)': 517,
 'Romper Stomper (1992)': 518,
 'Ruby in Paradise (1993)': 519,
 'Rudy (1993)': 520,
 'Saint of Fort Washington, The (1993)': 521,
 'Savage Nights (Nuits fauves, Les) (1992)': 522,
 "Schindler's List (1993)": 523,
 'Scout, The (1994)': 524,
 'Searching for Bobby Fischer (1993)': 525,
 'Second Best (1994)': 526,
 'Secret Garden, The (1993)': 527,
 'Serial Mom (1994)': 528,
 'Shadow, The (1994)': 529,
 'Shadowlands (1993)': 530,
 'Short Cuts (1993)': 531,
 'Simple Twist of Fate, A (1994)': 532,
 'Sirens (1994)': 533,
 'Six Degrees of Separation (1993)': 534,
 'Sleepless in Seattle (1993)': 535,
 'Sliver (1993)': 536,
 'Blade Runner (1982)': 537,
 'Son in Law (1993)': 538,
 'So I Married an Axe Murderer (1993)': 539,
 'Striking Distance (1993)': 540,
 'Harlem (1993)': 541,
 'Super Mario Bros. (1993)': 542,
 'Surviving the Game (1994)': 543,
 'Terminal Velocity (1994)': 544,
 'Thirty-Two Short Films About Glenn Gould (1993)': 545,
 'Threesome (1994)': 546,
 'Nightmare Before Christmas, The (1993)': 547,
 'Three Musketeers, The (1993)': 548,
 'Tombstone (1993)': 549,
 'Trial by Jury (1994)': 550,
 'True Romance (1993)': 551,
 'War Room, The (1993)': 552,
 'Mamma Roma (1962)': 553,
 'Pagemaster, The (1994)': 554,
 'Paris, France (1993)': 555,
 'Beans of Egypt, Maine, The (1994)': 556,
 'Killer (Bulletproof Heart) (1994)': 557,
 'Welcome to the Dollhouse (1995)': 558,
 'Germinal (1993)': 559,
 'Chasers (1994)': 560,
 'Cronos (1992)': 561,
 'Naked in New York (1994)': 562,
 'Kika (1993)': 563,
 'Bhaji on the Beach (1993)': 564,
 'Little Big League (1994)': 565,
 'Slingshot, The (Kådisbellan ) (1993)': 566,
 'Wedding Gift, The (1994)': 567,
 'Foreign Student (1994)': 568,
 'Ciao, Professore! (Io speriamo che me la cavo ) (1993)': 569,
 'Spanking the Monkey (1994)': 570,
 'Little Rascals, The (1994)': 571,
 'Fausto (1993)': 572,
 'Andre (1994)': 573,
 'Hour of the Pig, The (1993)': 574,
 'Scorta, La (1993)': 575,
 'Princess Caraboo (1994)': 576,
 'Celluloid Closet, The (1995)': 577,
 'Metisse (Café au Lait) (1993)': 578,
 'Dear Diary (Caro Diario) (1994)': 579,
 "I Don't Want to Talk About It (De eso no se habla) (1993)": 580,
 'Brady Bunch Movie, The (1995)': 581,
 'Home Alone (1990)': 582,
 'Ghost (1990)': 583,
 'Aladdin (1992)': 584,
 'Terminator 2: Judgment Day (1991)': 585,
 'Dances with Wolves (1990)': 586,
 'Tough and Deadly (1995)': 587,
 'Batman (1989)': 588,
 'Silence of the Lambs, The (1991)': 589,
 'Snow White and the Seven Dwarfs (1937)': 590,
 'Beauty and the Beast (1991)': 591,
 'Pinocchio (1940)': 592,
 'Pretty Woman (1990)': 593,
 'Window to Paris (1994)': 594,
 'Wild Bunch, The (1969)': 595,
 'Love and a .45 (1994)': 596,
 "Wooden Man's Bride, The (Wu Kui) (1994)": 597,
 'Great Day in Harlem, A (1994)': 598,
 'Bye Bye, Love (1995)': 599,
 'Criminals (1996)': 600,

In [97]:
movie_id = movie_data['Jumanji (1995)']
similar_movie = als_model.similar_items(movie_id,N=15)
idx_to_movie = {v:k for k,v in movie_data.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Jumanji (1995)',
 'Third Miracle, The (1999)',
 'Carrington (1995)',
 'Batman (1989)',
 'Heathers (1989)',
 "You've Got Mail (1998)",
 'Wild Bunch, The (1969)',
 'Maverick (1994)',
 'Little Voice (1998)',
 "Child's Play 2 (1990)",
 'I Love Trouble (1994)',
 'Deadly Friend (1986)',
 'Friday the 13th Part 3: 3D (1982)',
 'Air Force One (1997)',
 'Alan Smithee Film: Burn Hollywood Burn, An (1997)']

In [99]:
def get_similar_movie(movie_name: str):
    movie_id = movie_data[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [100]:
get_similar_movie('Jumanji (1995)')

['Jumanji (1995)',
 'Third Miracle, The (1999)',
 'Carrington (1995)',
 'Batman (1989)',
 'Heathers (1989)',
 "You've Got Mail (1998)",
 'Wild Bunch, The (1969)',
 'Maverick (1994)',
 'Little Voice (1998)',
 "Child's Play 2 (1990)"]