In [49]:
!ls -l ~/data
!mkdir -p ~/aiffel/yoochoose
!ln -s ~/data/* ~/aiffel/yoochoose/data

total 1893588
-rwxr-xr-x 1 root root       3973 May 17 06:12 dataset-README.txt
-rw-r--r-- 1 root root     171308 Sep 13 06:47 movies.dat
-rw-r--r-- 1 root root   24594131 Sep 13 06:47 ratings.dat
-rw-r--r-- 1 root root       5577 Sep 13 06:47 README
-rw-r--r-- 1 root root     134368 Sep 13 06:47 users.dat
-rwxr-xr-x 1 root root   55583744 May 17 06:12 yoochoose-buys.dat
-rwxr-xr-x 1 root root 1486798186 May 17 06:15 yoochoose-clicks.dat
-rwxr-xr-x 1 root root  371725851 May 17 06:13 yoochoose-test.dat
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/dataset-README.txt': File exists
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/movies.dat': File exists
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/ratings.dat': File exists
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/README': File exists
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/users.dat': File exists
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/yoochoose-buys.dat': File exists
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/yoochoose-clicks.dat': File exists
ln: failed to create symbolic link '/aiffel/aiffel/yoochoose/data/yoochoose-test.dat': File exists

In [50]:
data_path = Path(os.getenv('HOME')+'/aiffel/yoochoose/data/') 
train_path = data_path / 'ratings.dat'

def load_data(data_path: Path, nrows=None):
    data = pd.read_csv(data_path, sep='::', header=None, usecols=[0, 1, 2, 3], dtype={0: np.int32, 1: np.int32, 2: np.int32}, nrows=nrows)
    data.columns = ['UserId', 'ItemId', 'Rating', 'Time']
    return data

data = load_data(train_path, None)
data.sort_values(['UserId', 'Time'], inplace=True)  # data를 id와 시간 순서로 정렬해줍니다.
data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
24            1    2340       3  978300103
...         ...     ...     ...        ...
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000172    6040    1784       3  997454464
1000167    6040     161       3  997454486
1000042    6040    1221       4  998315055

[1000209 rows x 4 columns]